
@model Reviews.Models.Review

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var reviewId = @Model.Id;
</script>

<h1>Details for @Model.Title</h1>
<h2>@Model.Category.Name</h2>
<section id="instrumentDescription">
    <img src="@Model.ImageURL" />
    <p>@Model.Content</p>
</section>

<section id="comments">
    <h2>Comments</h2>
    <ol id="comment-list"></ol>
</section>

<section id="newComment">
    <h3>New Comment</h3>
    <textarea id="new-comment"></textarea>
    <button id="save-comment">Save</button>
</section>

<section id="tags">
    <h2>Tags</h2>
    <ul id="tags-list"></ul>
    <h3>New Tag</h3>
    <input type="text" id="new-tag" />
    <button id="submit-new-tag">Submit</button>
</section>


@section Scripts {
    <script src="~/comments.js"></script>
    <script src="~/tags.js"></script>
}